* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Impact;
    margin: 1em;
}

/* PÁGINA PRINCIPAL */
.circle-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.circle-card .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.card {
    background-color: white;
    font-family: Impact;
    color: black;
}
.btn {
    background-color: black;

}
.btn-form{
    width: 15em;
}
/* ABOUT */
.buttons-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2em;
    font-family: Impact;
    width: 15em;
    height: 5em;
    color: black;
}


/*COLOR PICKING*/
.btn-cp {
    width: 10em;
}
input[type="color"] {
    width: 2em;
    height: 2em;
    border: solid 0.2em black;
    margin: 0.27em;
    margin-bottom: 1em;
}
.circle-cp{
    border-radius: 50%;
    border: solid black 0.2em;
    height: 2em;
    width: 2em;
    margin: 1em;
}


/*LEVEL*/
.card-level {
    display: flex;
    justify-content: center;
}


/*TABLE*/
.tablero {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    width: 20em;
}

.line {
    border: solid black 0.1em;
    border-radius: 1em;
}
.dot1 {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0.1em;
}
.dotA {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
/*BUTTON CHECK*/
.dot {
    height: 3em;
    width: 3em;
}
.check {
    height: 3em;
    width: 3em;
}

.secret {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.5em;
}
.answer {
    width: 4em;
}
