* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* PÁGINA PRINCIPAL */
.circle-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.circle-card .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.card {
    background-color: white;
    font-family: Impact;
    color: black;
}
.btn {
    background-color: black;

}
.btn-form{
    width: 15em;
}
/* ABOUT */
.buttons-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2em;
    font-family: Impact;
    width: 15em;
    height: 5em;
}

/*COLOR PICKING*/
.btn-cp {
    width: 10em;
}

/*LEVEL*/
.card-level {
    display: flex;
    justify-content: center;
}
/*TABLE*/

.tablero {
    border: solid black 0.2em;
}
.colors-table {
    background-color: grey;
    height: 5em;
    
}
.answer-table {
    background-color: aquamarine;
    height: 5em;
    width: 5em;
    border: solid black 0.2em;
}
.circle {
    border-radius: 50%;
    border: solid black 0.2em;
    height: 2em;
    width: 2em;

}
.circles1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}